<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
   <title>Jay Kim</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" >
   <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
  <script>(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);</script>
 </head>
 <body>
    <div id="topnav">
      <a style="font-size: 20px;" id="pageSubTitle">ASCII ART GENERATOR</a>
      <a  href="/#project">PROJECTS</a>
      <a href="/">HOME</a>
    </div>
    
    <section id="ascii">
      <div class="title">Ascci Art Generator</div>
      <br>
      <div>Upload your image<div>
      <div class="upload">
        <form method="post" enctype=multipart/form-data>
          <div>
            <input onchange="checkEmpty()" style="display: none;"  type="file" name="file-3[]" id="file-3" class="inputfile inputfile-3" accept="image/*" / required>
            <label for="file-3"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Choose a file&hellip;</span></label>
          </div>
          <input id="inbutton" class="button disabled" type="submit" value=Upload>
        </form>
      </div>
      {% if img_src %}
      <div class="row">
        <div class="column-3">
          <div>Input:</div>
          <img style="max-height: 300px;" src="data:image/jpeg;base64, {{ img_ori }}">
        </div>
        <div class="column-3">
          <div>Result:</div>
          <img style="max-height: 300px;" src="data:image/jpeg;base64, {{ img_src }}">
        </div>
      </div>
      <img style="max-height: 800px;" src="data:image/jpeg;base64, {{ img_src }}">
      {% endif %}
    </section>
    
    
    <script src="{{ url_for('static', filename='index.js') }}"></script> 
  </body>
 </html>