<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
   <title>Jay Kim</title>
   <link rel="stylesheet" href="../static/style.css">
   <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
 </head>
 <body>
    <div id="topnav">
      <a class="active" href="">PROJECTS</a>
      <a href="/src/templates/index.html">ABOUT</a>
    </div>
    <h1>Upload new File</h1>
  
    <form method="post" enctype=multipart/form-data>
      <p><input type="file" name=file>
         <input type="submit" value=Upload>
    </form>
 
    <h1>Result:</h1>
    {% if msg %}
    <h1>{{ msg }}</h1>
    {% endif %}
    {% if img_src %}
      <img style="max-height: 800px;" src="data:image/jpeg;base64, {{ img_src }}">
    {% endif %}
    
    <script src="../static/index.js"></script> 
  </body>
 </html>