body {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.sectionTitle {
  font-size: 40px;
  font-weight: bold;
}

#topnav {
  background-color: white;
  padding-right: 10%;
  position: fixed;
  width: 98%;
}

#topnav a {
  float: right;
  text-align: center;
  padding: 25px;
  font-size: 15px;
  text-decoration: none;
  color: grey;
}

#topnav a:hover {
  color: black;
}

#topnav a.active {
  color: black;
}

section {
  padding-top: 15%;
  padding-bottom: 10%;

  margin-left: 25%;
  margin-right: 25%;
}

#about div.hi {
  font-size: 22px;
}

#about div.title {
  font-size: 120px;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  width: max-content;
}

#about div.subtitle {
  text-align: right;
  font-size: 22px;
}

#about div.subtext {
  font-size: 12px;
  margin: 7% 0;
}

#emaillink1 {
  text-decoration: none;
  color: black;
  vertical-align: 10px;
  display: none;
}

#emaillink2 {
  text-decoration: none;
  color: black;
  vertical-align: 10px;
  display: none;
}

#about a img {
  height: 32px;
  margin-right: 3%;
}

#about a img {
  height: 32px;
  margin-right: 3%;
}

#about a img:hover {
  cursor: pointer;
}

#aboutme .sectionTitle {
  margin-bottom: 5%;
}

.container > div {
  top: 0;
}

.faceImg {
  border-radius: 50%;
  float: left;
  margin: 0 5%;
}

.projectTile {
  height: 300px;
}

.projectName {
  font-weight: bold;
}

.projectImgLeft {
  float: left;
  width: 300px;
  float: left;
  border-radius: 25px;
  margin-right: 2%;
}
.projectImgRight {
  float: right;
  width: 300px;
  float: right;
  border-radius: 25px;
  margin-left: 2%;
}

.column {
  float: left;
  width: 50%;
}

.column-3 {
  float: left;
  width: 33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#contact div.margin-right-shift {
  margin: 5% 3%;
}

#contact a img {
  height: 32px;
  margin-right: 3%;
}

#resume a {
  text-decoration: none;
  color: grey;
}

#resume a:hover {
  color: black;
}

#ascii {
  text-align: center;
}

#ascii .upload {
  border: 10px black;
}

/* IMAGE INPUT */
.js .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  max-width: 80%;
  font-size: 1.25rem;
  /* 20px */
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  /* 10px 20px */
}

.no-js .inputfile + label {
  display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}

.inputfile-3 + label {
  color: grey;
}

.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
  color: black;
}

.inputfile-3:invalid + label {
  color: black;
}

.animate-left {
  position: relative;
  animation: animateleft 1s;
}
@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.animation-gone {
  position: relative;
  animation: animationgone 1s;
}
@keyframes animationgone {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 1000px) {
  section {
    padding-top: 15%;
    padding-bottom: 10%;

    margin-left: 10%;
    margin-right: 10%;
  }
}

.demoButton {
  margin: auto;
  text-decoration: none;
  padding: 4px;
  border: 1px solid black;
  border-radius: 25px;
  color: grey;
  margin: 5% 2% 2% 5%;
}

.demoButton:hover {
  color: black;
}

#topnav a#pageSubTitle {
  color: black;
  float: left;
  font-weight: bold;
  font-size: 20;
}

#pageSubtitle:hover {
  cursor: noen;
}

#ascii div.title {
  font-weight: bold;
  font-size: 30px;
}
#ascii input.button {
  border: 1px solid gray;
  color: gray;
  background-color: white;
}

#ascii input.enabled:hover {
  border: 1px solid black;
  color: black;
  background-color: white;
  cursor: pointer;
}

#ascii input.disabled:hover {
}

.checkout {
  color: grey;
  text-decoration: none;
  border: 2px solid grey;
  border-radius: 25px;
  padding: 10px;
}

.checkout:hover {
  color: black;
  background-color: lightgrey;
  border: 2px solid black;
}
